* {
  box-sizing: border-box;
}

body {
  background-image: url("images/background.png");
}

#logo {
  width: 154px;
  margin-top: 14px;
}

.navbar-top {
  padding-top: 31px;
}

.menu-right {
  font-family: Arial sans-serif;
  font-size: 14px;
  color: #333;
}
