* {
  box-sizing: border-box;
}

body {
  background-image: url("images/background.png");
}

.page {
  max-width: 940px;
  margin: 0 auto;
}

#logo {
  float: left;
}

#logo-img {
  width: 154px;
  margin-top: 14px;
}

.navbar-top {
  padding-top: 31px;
}

.nav-container {
  width: 100%;
}

.menu-right {
  float: right;
}

.nav-link-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  color: #728993;
  font-size: 15px;
  font-weight: 300;
  padding: 20px;
  text-align: right;
}

.product-description-container {
  height: 239px;
  width: 100%;
}

.main-text,
.sub-main-text {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
}

.main-text {
  font-size: 37px;
  margin-bottom: 18px;
  padding-top: 128px;
  font-weight: 300;
  letter-spacing: 2px;
}

.sub-main-text {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .main-text {
    font-size: 30px;
  }
}
